@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap')

=content($fontSize)
    color : white
    font-family: 'Josefin Sans', sans-serif
    font-size: $fontSize

.banner
    background-image: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),url('https://i.ibb.co/5Y5hjZ9/banner.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    flex-direction : column
    h1
        +content(4rem)
    h2
        +content(4rem)

.banner__signIn
    padding : 2% 5%
    font-weight: bold
    border: 2px solid #fff
    color: #fff
    font-size: 20px
    letter-spacing: 2px
    font-family: 'Josefin Sans', sans-serif

@media ( max-width: 576px  )
    h1
        +content(2rem !important)
    h2
        +content(1.3rem !important)
