@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap')
.banner
    background-image: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),url('https://i.ibb.co/5Y5hjZ9/banner.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    height: 600px
    display: flex
    align-items: center
    justify-content: center
    h1
        color : white
        font-family: 'Josefin Sans', sans-serif
        font-size: 4rem

@media ( max-width: 576px  )
    h1
        font-size : 2rem !important
