@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap")
$font : "Actor", sans-serif
$bgColor : #F1FBF9

=button($bg)
    outline: none
    border: none
    box-shadow: none
    background: $bg

.imageUpload
    font-family: $font
    font-size: 20px
    padding: 5%
    font-weight: bold

.imageUpload__btn
    padding : 2% 8%
    background : $bgColor
    border: none
    color : #28A745
    font-weight: bold
    font-size: 20px

    &:focus
        +button(#28A745)

.imageUpload__form
    height: 50px
    border: none
    font-size: 15px
    font-family: $font
    font-weight: 600
    background: $bgColor

    &:focus
        +button($bgColor)

.inputFile
    width: 0.1px
    height: 0.1px
    opacity: 0
    overflow: hidden
    position: absolute
    z-index: -1

.inputFile + label
    font-size: 20px
    font-weight: 700
    color: #28A745
    background-color: $bgColor
    display: inline-block
    cursor: pointer
    border: 1px solid $bgColor
    padding: 15px
    border-radius: 10px
    font-family: $font
    letter-spacing: 2px

.inputFile + label *
    pointer-events: none

.inputFile:focus + label
    outline: none
